annotated-types
anyio
certifi
charset-normalizer
distro
h11
h2
hpack
httpcore
httpx
hyperframe
idna
jiter
jsonpatch
jsonpointer
langchain-core
langchain-openai
langsmith
openai
orjson
packaging
pydantic
pydantic_core
PyYAML
regex
requests
requests-toolbelt
sniffio
tenacity
tiktoken
tqdm
typing-inspection
typing_extensions
urllib3
zstandard
